.topBlackBar {
    display: block;
    padding: 8px;
    background-color: #303030;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 30px;
}

.boxes {
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    padding: 20px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.boxes-laptop {
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    padding: 20px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
button{
    display: table-cell;
    padding: 15px 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #fffb00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    left: 5%;
    width: 40%;
    bottom: 5%;
}

button.bank {
    color: rgb(0, 0, 0);
    background-color: #fffb00;
    left: 5%;
    width: 40%;
    bottom: 5%;
}

button.bank:hover {
    background-color: #e0dc00
}

button.bank:active {
    background-color: #c4c000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.work {
    color: #fff;
    background-color: #2600ff;
    left: 55%;
    width: 40%;
    bottom: 5%;
}

button.work:hover {
    background-color: #1c01b1
}

button.work:active {
    background-color: #140087;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.loan {
    color: #fff;
    background-color: #00ab94;
    left: 5%;
    width: 90%;
    bottom: 5%;
}

button.loan:hover {
    background-color: #009985
}

button.loan:active {
    background-color: #008472;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.repay-loan {
    color: #fff;
    background-color: #00ab94;
    left: 5%;
    width: 90%;
    bottom: 25%;
}

button.repay-loan:hover {
    background-color: #009985
}

button.repay-loan:active {
    background-color: #008472;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.buy {
    color: #fff;
    background-color: #3a71fd;
    left: 79%;
    width: 20%;
    bottom: 55%;
}

button.buy:hover {
    background-color: #3260d4;
}

button.buy:active {
    background-color: #2c54ba;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 30px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: pre-wrap;
}

span.a {
    font-size: 25px;
}

span.b {
    font-size: 20px;
}

span.c {
    font-size: 16px;
    display:block;
    width:75%;
    word-wrap:break-word;

}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: rgb(230, 230, 230);
    /* Fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
    /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4);
    /* For old Firefox (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4);
    /* For pre-releases of Internet Explorer  10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4);
    /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4);
    /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    padding-right: 20px;
}
